#content {
  padding-top: 70px;
  min-height: ~"calc(100vh - 92px)";
}

Container {
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;
  background-color: rgb(233, 210, 123);
}

.footer-view-container {
  background-color: rgb(233, 210, 123);
}

.copyright {
  background-color: rgb(233, 210, 123);
}
