/* #content {
  padding-top: 70px;
  min-height: ~"calc(100vh - 92px)";
} */

/* .footer-container {
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;
  background-color: rgb(233, 210, 123);
} */

.footer-container {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
}

.footer-view-container {
  background-color: rgb(233, 210, 123);
  display: table;
  width: 100%;
  margin: 0px 0px 0px 0px;
  height: 50px;
}

/* .copyright {
  background-color: rgb(233, 210, 123);
} */
