.footer-view-container {
  background-color: rgb(233, 210, 123);
  display: table;
  text-align: center;
  width: 100%;
  margin: 0px 0px 0px 0px;
  height: 50px;
  justify-content: center;
}

.footer-container {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  justify-content: center;
  align-items: center;
}

/* .copyright {
  background-color: rgb(233, 210, 123);
} */

.footer-icon {
  padding: 5px;
}
