.lcview {
  background: rgb(233, 210, 123);
  background: linear-gradient(
    0deg,
    rgba(233, 210, 123, 1) 0%,
    rgba(193, 124, 124, 1) 100%
  );
  padding-bottom: 20px;
}
.lcinfo {
  text-align: center;
  margin: 20px;
  font-size: 20px;

}
.lctitle {
  height: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 32px;
}
.lcsubtitle {
  height: 100px;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 22px;
}
.button {
  text-align: center;
  height: 100px;
  margin: 20px;
}
.lcbtn {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: rgba(76.82332739661389%,53.41654478165109%,52.184608854547776%,0);
  border-radius: 100px;
  border: 4px solid #000000;
  border-width: 4px 4px 4px 4px;
  padding: 5px 20px 5px 20px;
    color: #000000;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal
}
.lcbtn:hover {
  background:linear-gradient(to bottom, rgba(233, 210, 123, 1) 5%, rgba(193, 124, 124, 1) 100%);
background-color:#ccc2a6;
}
.lcbtn:active {
position:relative;
top:1px;
}
.row {
 margin: 10px; 
}
.tabtext {
  color: white;
}
