.lctitle {
    height: 20px;
    padding: 20px;
    color: rgb(3, 68, 129);
    text-align: center;
    font-size: 32px;
    font-family: 'Sunshiney';
}
.lcsubtitle {
    height: 100px;
    padding: 20px;
    color: rgb(16, 97, 173);
    text-align: center;
    font-size: 22px;
    font-family: 'Sunshiney', cursive;
}